body {color: red;}

h1 {
  margin-top: 10px;
}

h2 {height:100px ;   }

p {

  font-size:120%;

  color: dimgray;

}

p.smallcaps {

  font-variant: small-caps;

}

.close {

  color: gray;
  text-transform: uppercase;
  
  }
  
  .anchor {
  
  color: green;
  text-transform: lowercase;
  
  }
  
  #purple {
  
  color: purple;
  text-transform: capitalize;
  
  }
  
  #teal {
  
  color: teal;
  
  }